@model List<ServiceContent>

<div class="content-wrapper mt-5">
    <!-- Content -->

    <div class="container ">

        <!-- Basic Bootstrap Table -->
        <div class="card" style="display:flex; justify-content:center;align-items:center;">
            <div class="table-responsive text-nowrap">
                <a asp-area="Admin" asp-controller="ServiceContent" asp-action="Create">  <button type="button" class="btn btn-success " style="margin-left:300px;">Create</button></a>

                <table class="table">

                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Operation</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                
                                <td> <img src="~/img/@item.Image" style="width:150px;height:100px;"> </td>

                                
                                <td>
                                    @item.Title
                                </td>
                                <td>
                                    @item.Description
                                </td>
                                <td>
                                    <a asp-action="Detail" asp-route-id="@item.Id"> <button type="button" class="btn btn-info">Info</button></a>
                                    <a asp-action="Edit" asp-route-id="@item.Id"><button type="button" class="btn btn-primary">Edit</button> </a>
                                    <form class="forms-sample d-inline" asp-action="Delete" method="post" asp-route-id="@item.Id">
                                        <button type="submit" class="btn btn-danger">Delete</button>

                                    </form>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>

            </div>

        </div>
        <!--/ Basic Bootstrap Table -->
    </div>

